
project_id = "rnxkknyghjfaetynbyaz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true

[realtime]
enabled = false

[storage]
enabled = false

[functions]
enabled = true

[functions.serve]
port = 54321

[[functions.serve.functions]]
name = "verify-payment"
verify_jwt = false
pattern = "verify-payment"

[[functions.serve.functions]]
name = "payment-callback"
verify_jwt = false
pattern = "payment-callback"

[[functions.serve.functions]]
name = "update-document-usage"
verify_jwt = false
pattern = "update-document-usage"

[[functions.serve.functions]]
name = "payment-fallback"
verify_jwt = false
pattern = "payment-fallback"
